streamlit==1.14.0
pandas==1.5.2
numpy

#Excel
openpyxl
pyxlsb
xlsxwriter

#Network Visualization
jaal
addEdge
networkx
Network
#pyvis
matplotlib

#Web scrape
#selenium==4.2.0
#beautifulsoup4==4.9.0
#webdriver-manager
#webdriver_manager
#option
#Image
#opencv-python
#FPDF
